/*
.navbar{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
    background-color: #171718;
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
}

.navbar > a {
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration:  none;
}

a:hover {
	font-weight: bold;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);	// background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
*/
