<br>
<fieldset>
  <legend>Update article here</legend>
  <form [formGroup]="updateForm" (ngSubmit)="update()" >
    <table>
      <tr>
        <td><label>Name : </label></td>
        <td><input type="text" formControlName="name"></td>
      </tr>
      <tr>
        <td><label>Price : </label></td>
        <td><input type="number" formControlName="price"></td>
      </tr>
      <tr>
        <td><label>Category : </label></td>
        <td><input type="text" formControlName="category"></td>
      </tr>
      <tr>
        <td><label>Description : </label></td>
        <td><input type="text" formControlName="description"></td>
      </tr>
    </table>
    <button [disabled]="!updateForm.valid">UPDATE</button>
  </form>
</fieldset>
