<fieldset>
  <legend>Log in</legend>
  <p style="color: red;" *ngIf="message != ''">{{message}}</p>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <table>
      <tr>
        <td><label>Pseudo / Email</label></td>
        <td><input type="text, email" formControlName="identity"></td>
      </tr>
      <tr>
        <td><label>Password</label></td>
        <td><input type="password" formControlName="password"></td>
      </tr>
      <tr>
        <td> </td>
        <button [disabled]="!loginForm.valid">Log in</button>
      </tr>
    </table>

  </form>
</fieldset>
