<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Room list</h1>
    <ul>
        <li th:each="room : ${rooms}" th:object="${room}">
            <p>Room number: <span th:text="${room.roomNumber}"></span></p>
            <p th:class="*{roomSize} >= 20 ? 'red'">Room size: <span th:text="${room.roomSize}"></span></p>
            <p>Simple bed: <span th:text="${room.nbSimpleBed}"></span></p>
            <p>Double bed: <span th:text="${room.nbDoubleBed}"></span></p>
            <a th:href="'/room/' + *{roomNumber}">
                <button>Détails</button>
            </a>
            <a th:href="@{/room/{num}(num=*{roomNumber})}">
                <button>Détails</button>
            </a>
        </li>
    </ul>
</body>
</html>