<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            @import url('https://fonts.googleapis.com/css?family=Montserrat');
        </style>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="navbar">
    <a class="a1" href="/">Home</a>
    <a href="/hotel/all">Hotel</a>
    <a href="/room/all">Room</a>
</div>

<div class="container">
    <form th:action="@{/room/add}" method="post" th:object="${room}">
        <div>
            <p for="in-num">Room Number</p>
            <input type="text" id="in-num" th:field="*{roomNumber}"></br>
        </div>
        <div>
            <p for="in-size">Size</p>
            <input type="text" id="in-size" th:field="*{roomSize}"></br>
        </div>
        <div>
            <p for="in-bed-simple">Number of simple bed</p>
            <input type="text" id="in-bed-simple" th:field="*{nbSimpleBed}"></br>
        </div>
        <div>
            <p for="in-bed-double">Number of double bed</p>
            <input type="text" id="in-bed-double" th:field="*{nbDoubleBed}"></br>
        </div>
        </br>
        <select name="hotels" th:field="*{hotelId}">
            <option th:each="hotel : ${hotels}" th:text="${hotel.name}" th:value="${hotel.id}"></option>
        </select>
        </br></br>
        <button class="button2" type="submit">Send</button>
    </form>
</div>
<div class="footer">
    <a href="">Sources</a>
</div>
</body>
</html>