<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Room <span th:text="${room.roomNumber}"></span> </h1>
    <div th:object="${room}">
            <p>Room size: <span th:text="*{roomSize}"></span></p>
            <p th:if="*{nbSimpleBed} > 0">Simple bed: <span th:text="*{nbSimpleBed}"></span></p>
            <p th:if="*{nbDoubleBed} > 0">Double bed: <span th:text="*{nbDoubleBed}"></span></p>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>