<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style>
                @import url('https://fonts.googleapis.com/css?family=Montserrat');
            </style>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="navbar">
            <a class="a1" href="/">Home</a>
            <a href="/hotel/all">Hotel</a>
            <a href="/room/all">Room</a>
        </div>
        <div class="container" th:object="${room}">
            <h2 ><span th:if="*{hotel} != null" th:text="*{hotel.name}"></span> : room <span th:text="*{roomNumber}"></span> </h2>
            <p th:if="*{hotel} != null">Hotel : <a th:href="@{/hotel/{name}(name=*{hotel.name})}" th:text="*{hotel.name}"></a></p>
            <div>
                <p>Room size : <span th:text="*{roomSize}"></span></p>
                <p>Simple bed : <span th:text="*{nbSimpleBed}"></span></p>
                <p>Double bed : <span th:text="*{nbDoubleBed}"></span></p>
            </div>
            <a th:href="@{/room/update/{id}(id=${room.id})}">
                <input class="button2" type="button" value="Update room">
            </a>
        </div>
        <div class="footer">
            <a href="">Sources</a>
        </div>
    </body>
</html>