<br>
<br>
<button style="align-self: auto;" routerLink="../create" >➕</button>
<br>
<br>
<fieldset>
  <legend>All articles</legend>
  <table>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price </th>
    </tr>
    <tr *ngFor="let article of articles">
      <td>{{article.name}}</td>
      <td>{{article.category}}</td>
      <td>{{article.price}}</td>
      <td><button title="Details" [routerLink]="['../', article.id]">🔍</button></td>
      <td><button title="Modify" [routerLink]="['../update/', article.id]">🔨</button></td>
      <td><button title="Delete" (click)="removeArticle(article.id)">💥</button></td>
    </tr>
  </table>
</fieldset>
